<!--------------------- TOP RATED -------------------->


<div class="jumbotron">
  <div class="container">
 	<h3 class="text-center">
 		Top Rated 
 	</h3>

  		<div id="seth">
  			<%= image_tag "seth.jpg", :alt => "Sethy the bud tender", class: "img-rounded recommended" %>
  			<span class="glyphicon glyphicon-chevron-left"></span>
  			<p class="text-center recommended-name">Sethy</p>
  			<p class="text-center ratings">
  				169
  				<i class="fa fa-thumbs-up"></i>
  				8
  				<i class="fa fa-thumbs-down"></i>

  			</p>


  		</div>
  		<div id="james">
  			<%= image_tag "james.jpg", :alt => "Jamie the grower", class: "img-rounded recommended" %>
  			<span class="glyphicon glyphicon-chevron-right"></span>
  			<p class="text-center recommended-name">Jamie</p>
  			<p class="text-center ratings">
  				200
  				<i class="fa fa-thumbs-up"></i>
  				16
  				<i class="fa fa-thumbs-down"></i>

  			</p>

  	</div>
  </div>
</div>

<!--------------------- TOP EVENTS -------------------->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Top Events</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

