// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-job{
	margin: 30px auto 0 auto;
}

// TOP RATED JUMBOTRON/////////////////////////
#jumbotron {
  background-color: #ffffff;
}

.recommended{
	margin-top: 20px;
	width: 350px;
	height: 300px;
}

#seth{
	float: left;
	margin-left: 20px;
}

#james{
	float: right;
	margin-right: 30px;
}

.jumbotron .recommended-name{
	margin-top: 10px;
	margin-bottom: 2px;
}


.glyphicon-chevron-left{
	float: left;
	margin-top: 170px;
	padding-right: 20px;
}

.glyphicon-chevron-right{
	float: right;
	margin-top: 170px;
	padding-left: 20px;
}

// EVENTS///////////////////////////////
.panel{
	margin-top: 60px;
}


.events-img{
	margin-left: 90px;
}

.events-description{
	width: 300px;
	margin-left: 80px;
	display: inline-block;
}

.panel-body .container{
	margin-top: 20px;
}

// JOBS//////////////////////////////////
h2 a{
	color: #4A9B6A;
}

button a{
	color: #4A9B6A;
}

// LOGIN///////////////////////////////
.form-group .btn-primary{
	background-color:#4A9B6A;
	border-color: #4A9B6A;

}